.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName{
  display: none;
}  
.rdrDayToday:not(.rdrDayPassive) {
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected{
    & ~ .rdrDayNumber span:after{
      background: #fff;
    }
  }
}

.rdrDay:not(.rdrDayPassive){
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected{
      & ~ .rdrDayNumber{
        span{
          color: rgba(255, 255, 255, 0.85);
        }
      }
  }
}

.rdrSelected{
  left: 2px;
  right: 2px;
}


.rdrSelected{
  border-radius: 1.042em;
}



.rdrDefinedRangesWrapper{
  .rdrStaticRangeSelected{
    color: red !important;
    font-weight: 600;
  }
}

.rdrDayPassive{
  pointer-events: none;
  .rdrDayNumber span{
    color: #d5dce0;
  }
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
    display: none;
  }
}
